

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    
  }


/* Global font settings */
body {
    @apply text-base leading-relaxed bg-neutral; 
  }
  
  /* Headings */
  h1 {
    @apply text-[40px] md:text-[60px] xl:text-[76px]; 
  }
  
  h2 {
    @apply text-3xl md:text-[48px] font-semibold; 
  }
  
  h3 {
    @apply text-2xl md:text-3xl font-semibold; 
  }
  
  h4 {
    @apply text-xl md:text-2xl font-medium; 
  }
  
  h5, h6 {
    @apply text-lg md:text-xl font-medium; 
  }
  
  /* Paragraphs */
  p {
    @apply text-sm md:text-base;
  }

  
  .vertical-text {
    writing-mode: unset;
  }

@media (min-width: 640px) {
    .vertical-text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 12px;
    }
  }

  .Toastify__toast {
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center;     /* Centrar contenido verticalmente */
    text-align: center;      /* Asegurar que el texto esté centrado */
  }

  .Toastify__icon--success {
    color: #A5FFB3;
  }

  .Toastify__close-button {
    color: #ffffff;
  }