

body {
    font-family: 'Roboto Slab', serif;
    
  }


/* Global font settings */
body {
    @apply text-base leading-relaxed bg-neutral ; 
  }
  
  /* Headings */
  h1 {
    @apply text-4xl md:text-[64px] font-bold; 
  }
  
  h2 {
    @apply text-3xl md:text-[48px] font-semibold; 
  }
  
  h3 {
    @apply text-2xl md:text-3xl font-semibold; 
  }
  
  h4 {
    @apply text-xl md:text-2xl font-medium; 
  }
  
  h5, h6 {
    @apply text-lg md:text-xl font-medium; 
  }
  
  /* Paragraphs */
  p {
    @apply text-sm md:text-base;
  }

  
  .vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 12px;
  }